langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langgraph
chromadb
streamlit
langchain-anthropic
sentence-transformers
scikit-learn==1.3.2
joblib
pandas
python-dotenv
