langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langgraph
chromadb
streamlit
langchain-groq
sentence-transformers
scikit-learn
joblib
pandas
python-dotenv
